.heading{
    color: #29aaaa;
    font-size: 70px;   
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}
.subheading{
    text-align: center;
    margin-top: 20px;
}

.cardList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px;
}